body {
  text-align: center;
  margin: 15px auto;
  max-width: 80%;
  background-color: bisque;
}

.my-list {
  list-style-type: none;
}

.container {
  height: 500px;
  margin: 50px auto 25px auto;

}
.dog-image {
  height: 450px;
  width: auto;
  object-fit: cover;
  border-radius: 21px;
  box-shadow: 0px 1px 2px 3px white;
}


/* button style */
.btn {
	box-shadow: 0px 1px 2px 3px white;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:21px;
	border:2px solid white;
	display:inline-block;
	cursor:pointer;
	color:#5a0c92;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:21px 55px;
	text-decoration:none;
	text-shadow:-5px 1px 23px #ffffff;
}
.btn:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.btn:active {
	position:relative;
	top:1px;
}
